# application
APP_MODE=production
APP_SECRET=
APP_ADMIN_EMAIL=
APP_ADMIN_DEFAULT_PASSWORD=
APP_DEFAULT_BUCKET_NAME=3deposit
APP_ALLOW_ORIGIN_HOST=https://3deposit.library.illinois.edu

# database
MYSQL_HOST=3deposit-db:3306
MYSQL_USER=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=3deposit

# MinIO
MINIO_ENDPOINT=files.3deposit.library.illinois.edu
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=